<header>
    <nav class = "nav-bar">
        <a href = "/" class = "nav-logo">
            <img src="/images/webLogo.png" alt="Eatstagram Logo" class="logo-img">
            <h2 class = "logo-text">Eatstagram</h2>
        </a>
        <ul class= "nav-links">
            <li><a href = "/users/login" class = "login-btn">Login</a></li>
            <li><a href = "/users/signup" class = "signup-btn">Sign Up</a></li>
        </ul>
    </nav>
</header>