<main class= "entry-page">
    <div class = "text-container">
        <h4>Eatstagram</h4>
        <h1> Find, Review, and Share <br> Your Favorite Restaurants </h1>
        
        <p>
            EATSTAGRAM helps you discover the best places to eat,
            read honest reviews, and share your own food experiences.
        </p>

        <div class="button-container">
            <a href="/users/login" class="login-btn2">Login</a>
            <a href="/users/signup" class="signup-btn2">Sign Up</a>
        </div>
    </div>
</main>